body {
    background-color: white;
    margin: 0;
}

.index-page-title {
    font-size: 48px;
    text-align: center;
    background-color: lightgrey;
    color: black;
    border: 2px solid black;
    padding: 8px;
    margin: 8px;
}

.recipe-list {
    font-size: 24px;
    text-align: center;
    background-color: lightgrey;
    color: black;
    border: 2px solid black;
    padding: 8px;
    margin: 8px;
}